<section class="start">
  <div class="container">
    <img src="../../assets/backgrounds/main-bg.png" alt="" class="start-img">
    <p class="start-text">
      Добро пожаловать в мир мечты и волшебства детской моды -  магазин Sakina!
      <br>
      Здесь вы найдете все необходимое, чтобы создать неповторимый образ
      <br>
      для своего ребенка, от повседневной одежды
      <br>
      до праздничных нарядов!
    </p>
  </div>
</section>
<section class="offer">
  <div class="container">
    <div class="offer-text">
      <span class="offer-title">Войдите или зарегистрируйтесь прямо сейчас!</span>
      <span class="offer-subtitle">чтобы получать персональные предложения</span>
    </div>
    <button class="offer-btn">Войти</button>
  </div>
</section>
<section class="popular">
  <div class="container">
    <div class="line"></div>
    <h2 class="title">Наиболее популярное</h2>
    <div class="popular-products">
      <div class="popular-product">
        <img src="" alt="фото товара" class="popular-product-img">
        <span class="popular-product-descr">Описание</span>
        <div class="popular-product-bottom">
          <span class="popular-product-price">1800 Р</span>
          <div class="popular-product-btns">
            <img src="../../assets/icons/cart.svg" alt="корзина" class="popular-product-btn">
            <img src="../../assets/icons/favorite.svg" alt="избранное" class="popular-product-btn">
          </div>
        </div>
      </div>
      <div class="popular-product">
        <img src="" alt="фото товара" class="popular-product-img">
        <span class="popular-product-descr">Описание</span>
        <div class="popular-product-bottom">
          <span class="popular-product-price">1800 Р</span>
          <div class="popular-product-btns">
            <img src="../../assets/icons/cart.svg" alt="корзина" class="popular-product-btn">
            <img src="../../assets/icons/favorite.svg" alt="избранное" class="popular-product-btn">
          </div>
        </div>
      </div>
      <div class="popular-product">
        <img src="" alt="фото товара" class="popular-product-img">
        <span class="popular-product-descr">Описание</span>
        <div class="popular-product-bottom">
          <span class="popular-product-price">1800 Р</span>
          <div class="popular-product-btns">
            <img src="../../assets/icons/cart.svg" alt="корзина" class="popular-product-btn">
            <img src="../../assets/icons/favorite.svg" alt="избранное" class="popular-product-btn">
          </div>
        </div>
      </div>
      <div class="popular-product">
        <img src="" alt="фото товара" class="popular-product-img">
        <span class="popular-product-descr">Описание</span>
        <div class="popular-product-bottom">
          <span class="popular-product-price">1800 Р</span>
          <div class="popular-product-btns">
            <img src="../../assets/icons/cart.svg" alt="корзина" class="popular-product-btn">
            <img src="../../assets/icons/favorite.svg" alt="избранное" class="popular-product-btn">
          </div>
        </div>
      </div>
      <div class="popular-product">
        <img src="" alt="фото товара" class="popular-product-img">
        <span class="popular-product-descr">Описание</span>
        <div class="popular-product-bottom">
          <span class="popular-product-price">1800 Р</span>
          <div class="popular-product-btns">
            <img src="../../assets/icons/cart.svg" alt="корзина" class="popular-product-btn">
            <img src="../../assets/icons/favorite.svg" alt="избранное" class="popular-product-btn">
          </div>
        </div>
      </div>
      <div class="popular-product">
        <img src="" alt="фото товара" class="popular-product-img">
        <span class="popular-product-descr">Описание</span>
        <div class="popular-product-bottom">
          <span class="popular-product-price">1800 Р</span>
          <div class="popular-product-btns">
            <img src="../../assets/icons/cart.svg" alt="корзина" class="popular-product-btn">
            <img src="../../assets/icons/favorite.svg" alt="избранное" class="popular-product-btn">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contacts">
  <div class="line"></div>
  <div class="container">
    <h2 class="title">Мы на карте</h2>
    <div class="subcontainer">
      <div class="contacts-left">
        <p class="contacts-text">
          Мы располагаемся в очень хорошем месте.
          <br>
          Магазин находится только по адресу:
          Чеченская Республика, Наурский р-н, ул. Октябрьская, 32
        </p>
      </div>
      <div class="contacts-right">
        <div class="contacts-map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс Карты</a><a href="https://yandex.ru/maps/11024/chechen-republic/house/oktyabrskaya_ulitsa_32/YEwYdQZhS0YHQFppfXp1eH9qbQ==/?ll=45.311230%2C43.649399&utm_medium=mapframe&utm_source=maps&z=17.14" style="color:#eee;font-size:12px;position:absolute;top:14px;">Октябрьская улица, 32 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=45.311230%2C43.649399&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgozMzg1NjAxNDAxEn3QoNC-0YHRgdC40Y8sINCn0LXRh9C10L3RgdC60LDRjyDQoNC10YHQv9GD0LHQu9C40LrQsCwg0YHRgtCw0L3QuNGG0LAg0J3QsNGD0YDRgdC60LDRjywg0J7QutGC0Y_QsdGA0YzRgdC60LDRjyDRg9C70LjRhtCwLCAzMiIKDbQ-NUIV_ZguQg%2C%2C&z=17.14" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
      </div>
    </div>
  </div>
</section>
<app-modal></app-modal>
