<section class="start">
  <div class="container">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="" />
        </div>
        <div class="carousel-caption start-caption">
          <h3>Тепло с любовью</h3>
          <p>Новая коллекция теплой зимней одежды!</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="" />
        </div>
        <div class="carousel-caption start-caption">
          <h3>Весна близко</h3>
          <p>Подготовьте ребенка к весне с нашей помощью</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="" />
        </div>
        <div class="carousel-caption start-caption">
          <h3>Радость в каждый дом</h3>
          <p>Коллекция ярких вещей для мальчиков и девочек</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>
<!--<section class="offer">-->
<!--  <div class="container">-->
<!--    <div class="offer-text">-->
<!--      <span class="offer-title">Войдите или зарегистрируйтесь прямо сейчас!</span>-->
<!--      <span class="offer-subtitle">чтобы получать персональные предложения</span>-->
<!--    </div>-->
<!--    <button class="offer-btn">Войти</button>-->
<!--  </div>-->
<!--</section>-->
<section class="types">
  <div class="container">
    <div routerLink="catalog/children" class="types-link">
      <img src="assets/categories/babies.jpg" alt="" class="types-img-l">
      <img src="assets/categories/babies-s.jpg" alt="" class="types-img-s">
    </div>
    <div routerLink="catalog/boys" class="types-link">
      <img src="assets/categories/boys.jpg" alt="" class="types-img-l">
      <img src="assets/categories/boys-s.jpg" alt="" class="types-img-s">
    </div>
    <div routerLink="catalog/girls" class="types-link">
      <img src="assets/categories/girls.jpg" alt="" class="types-img-l">
      <img src="assets/categories/girls-s.jpg" alt="" class="types-img-s">
    </div>
  </div>
</section>
<section class="aboutus" id="aboutus">
  <div class="container">
    <div class="text">
      <h2 class="title">О нас</h2>
    </div>
    <div class="text">Шопинг на современных сайтах — это прекрасный способ совершить покупки онлайн, не потратив при этом драгоценное время на походы по магазинам. Для родителей опция онлайн-шопинга особенно актуальна и становится настоящей находкой: сэкономленное время намного приятнее провести с близкими людьми или за важными делами, которых немало у мам!</div>
    <div class="text">Каталог интернет-магазина предоставляет Вам возможность первыми ознакомиться со всеми новинками и ассортиментом модных коллекций 2023-2024 года и узнать об актуальных ценах и скидках на товары.</div>
  </div>
</section>
<section class="product">
  <div class="container">
    <h2 class="title">Популярное</h2>
    <div class="product-list">
      <div class="product-item" *ngFor="let product of latestProducts">
        <img [src]="product.previewPhoto" alt="фото товара" class="product-img">
        <span class="product-name">{{ product.name }}</span>
        <div class="product-bottom">
          <span class="product-price">{{ product.variants[0].price }} Р</span>
          <div class="product-btns">
            <img src="assets/icons/cart.svg" (click)="addToCart(product)" alt="корзина" [ngClass]="{ 'active': product?.inCart, 'product-btn': true }">
            <img src="assets/icons/fav.svg" (click)="addToFavorite(product)" alt="избранное"  [ngClass]="{ 'active': isFavorite(product), 'product-btn': true }">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contacts">
<!--  <div class="line"></div>-->
  <div class="container">
    <h2 class="title">Мы на карте</h2>
    <div class="subcontainer">
      <div class="contacts-left">
        <p class="contacts-text">
          Мы располагаемся в очень хорошем месте.
          <br>
          Магазин находится только по адресу:
          Чеченская Республика, Наурский р-н, ул. Октябрьская, 32
        </p>
      </div>
      <div class="contacts-right">
        <div class="contacts-map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс Карты</a><a href="https://yandex.ru/maps/11024/chechen-republic/house/oktyabrskaya_ulitsa_32/YEwYdQZhS0YHQFppfXp1eH9qbQ==/?ll=45.311230%2C43.649399&utm_medium=mapframe&utm_source=maps&z=17.14" style="color:#eee;font-size:12px;position:absolute;top:14px;">Октябрьская улица, 32 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=45.311230%2C43.649399&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgozMzg1NjAxNDAxEn3QoNC-0YHRgdC40Y8sINCn0LXRh9C10L3RgdC60LDRjyDQoNC10YHQv9GD0LHQu9C40LrQsCwg0YHRgtCw0L3QuNGG0LAg0J3QsNGD0YDRgdC60LDRjywg0J7QutGC0Y_QsdGA0YzRgdC60LDRjyDRg9C70LjRhtCwLCAzMiIKDbQ-NUIV_ZguQg%2C%2C&z=17.14" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
      </div>
    </div>
  </div>
</section>


