<aside class="sidebar" [ngClass]="{'active': isOpen}">
<!--  <span class="sidebar-title">Фильтры</span>-->
  <form class="sidebar-filters" [formGroup]="filtersForm" (ngSubmit)="submitFilters()">
    <div class="sidebar-item">
      <span class="sidebar-subtitle">Цена</span>
      <div class="flex">
        <input type="text" class="sidebar-input" formControlName="minPrice" placeholder="0" appOnlyNumber>
        <span>-</span>
        <input type="text" class="sidebar-input" formControlName="maxPrice" placeholder="99990" appOnlyNumber>
      </div>
    </div>
    <div class="sidebar-item" >
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle>
          <span *ngIf="!filtersForm.get('categoryId')?.value">Категория</span>
          <span *ngIf="filtersForm.get('categoryId')?.value">{{filtersForm.get('categoryId')?.value?.name}}</span>
        </button>
        <div class="dropwow" ngbDropdownMenu aria-labelledby="dropdownBasic3">
          <button  type="button" (click)="selectCategory(category)" ngbDropdownItem *ngFor="let category of categories">{{category.name}}</button>
        </div>
      </div>
    </div>
<!--    <div class="sidebar-item" *ngIf="filters.sizes.length !== 0">-->
    <div class="sidebar-item">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn " id="dropdownBasic2" ngbDropdownToggle>
            <span *ngIf="!filtersForm.get('sizes')?.value">Размер</span>
            <span *ngIf="filtersForm.get('sizes')?.value">{{filtersForm.get('sizes')?.value}}</span>
          </button>
          <div class="dropwow" ngbDropdownMenu aria-labelledby="dropdownBasic3">
            <button  type="button" (click)="selectSize(size)" ngbDropdownItem *ngFor="let size of filters.sizes">{{size}}</button>
          </div>
        </div>
    </div>
<!--    <div class="sidebar-item" *ngIf="filters.colors.length !== 0">-->
    <div class="sidebar-item" >
      <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn " id="dropdownBasic3" ngbDropdownToggle>
            <span *ngIf="!filtersForm.get('colors')?.value">Цвет</span>
            <span *ngIf="filtersForm.get('colors')?.value">{{filtersForm.get('colors')?.value}}</span>
          </button>
          <div class="dropwow" ngbDropdownMenu aria-labelledby="dropdownBasic3">
            <button  type="button" (click)="selectColor(color)" ngbDropdownItem *ngFor="let color of filters.colors">{{color}}</button>
          </div>
      </div>
    </div>
    <button type="button" class="sidebar-btn" (click)="submitFilters()">Применить</button>
    <button type="button" class="sidebar-btn" (click)="clearFilters()">Сбросить</button>
  </form>
</aside>
