
.sidebar {
  min-height: 100%;
  width: 100%;
  padding: 5px;
  overflow: hidden;

  .flex {
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .dropwow {
    max-height: 200px;
    overflow: auto;
  }

  &-input {
    width: 104px;
    margin-top: 3px;
    border-radius: 11px;
    background-color: #c8c1a5;
    border: none;
    padding: 5px 10px;

    &:focus {
      outline: none;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 500;
  }

  &-filters {
    //margin-top: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  &-item {
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    min-height: 50px;
    background-color: #ece8dd;

    //overflow: hidden;
  }

  &-filter {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
  }

  &-btn {
    background: #c8c1a5;
    border-radius: 11px;
    width: 100%;
    padding: 10px;
    border: none;
    transition: all .35s;
    color: #514d44;
    font-size: 20px;
    cursor: pointer;
    margin: 10px auto 0;

    &:hover {
      background: #96917b;
    }

    &:focus {
      background: #96917b;
      outline: none;
    }
  }
}

.d-inline-block {
  width: 100%;
}

.btn {
  color: #7c7769;
  background-color: transparent;
  border-color: #7c7769;
  width: 100%;
}

.btn:hover {
  color: #7c7769;
  background-color: #c0b8a3;
  border-color: #7c7769;
}

.dropdown-item {
  z-index: 100;
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .sidebar {
    height: 0;
    padding: 0;
    transition: .5s;

    &-input {
      width: 49%;
      padding: 10px;
    }

    &-flex {
      margin: 0 auto;
    }

    &-filters {
      flex-direction: row;
      gap: 8px;
      flex-wrap: wrap;
    }

    &.active {
      height: 255px;
      padding: 5px;
    }

    &-btn {
      width: 48%;
      margin: 0;
    }

    &-item {
      width: 48%;
      height: 70px;

      &:nth-child(1) {
        span {
          display: none;
        }
      }
    }
  }
}


