<footer class="footer">
  <div class="container">
    <div class="footer-line"></div>
    <div class="footer-items">
      <div class="footer-item">
        <span class="footer-title">Компания</span>
        <div class="footer-links">
          <span class="footer-link" routerLink="about">О нас</span>
          <span class="footer-link" routerLink="policy">Политика <br> конфиденцианольсти</span>
        </div>
      </div>
      <div class="footer-item">
        <span class="footer-title">Каталог</span>
        <div class="footer-links">
          <span class="footer-link" routerLink="catalog/boys">Мальчики</span>
          <span class="footer-link" routerLink="catalog/girls">Девочки</span>
          <span class="footer-link" routerLink="catalog/children">Малыши</span>
        </div>
      </div>
      <div class="footer-item">
        <span class="footer-title">Помощь</span>
        <div class="footer-links">
          <span class="footer-link" routerLink="faq">Частые вопросы</span>
          <span class="footer-link" routerLink="refund">Возврат</span>
          <a href="tel:89281602065" class="footer-link">8 (928) 160-20-65</a> 
        </div>
      </div>
    </div>
  </div>
</footer>
