<section class="main">
  <div class="container">
    <h2 class="title">О бренде</h2>
    <div class="block">
      <img src="assets/icons/about/Frame394.jpg" alt="" class="block-image">
      <div class="block-right">
        <div class="block-right-title">Открой для себя Sakina!</div>
        <span class="block-right-subtitle">SAKINA — это стиль и креатив. Дети — это наше будущее.</span>
        <span class="block-right-text">
          Теперь каждый ваш день будет полным радости, улыбок и веселья, стоит лишь заглянуть в магазины одежды для ваших деток Sakina*!
        </span>
      </div>
    </div>
    <div class="flex">
      <div class="subblock">
        <div class="subimg-container">
          <img src="assets/icons/about/brand_heart.svg" alt="" class="subimg">
        </div>
        <span class="subtitle">Миссия</span>
        <span class="subtext">Радость в простых вещах!</span>
      </div>
      <div class="subblock">
        <div class="subimg-container">
          <img src="assets/icons/about/brand_sun.svg" alt="" class="subimg">
        </div>
        <span class="subtitle">Девиз</span>
        <span class="subtext">Сделать день ярким!</span>
      </div>
      <div class="subblock">
        <div class="subimg-container">
          <img src="assets/icons/about/brand_diamond.svg" alt="" class="subimg">
        </div>
        <span class="subtitle">Ценности</span>
        <span class="subtext">Лёгкость, яркость, эмоции!</span>
      </div>
    </div>
    <div class="flex-mobile">
      <div class="subblock">
        <div class="subblock1">
          <span class="subtitle">Миссия</span>
          <span class="subtext">Радость в простых вещах!</span>
        </div>
        <div class="subimg-container">
          <img src="assets/icons/about/brand_heart.svg" alt="" class="subimg">
        </div>
      </div>
      <div class="subblock">
        <div class="subblock1">
          <span class="subtitle">Девиз</span>
          <span class="subtext">Сделать день ярким!</span>
        </div>
        <div class="subimg-container">
          <img src="assets/icons/about/brand_sun.svg" alt="" class="subimg">
        </div>
      </div>
      <div class="subblock">
        <div class="subblock1">
          <span class="subtitle">Ценности</span>
          <span class="subtext">Лёгкость, яркость, эмоции!</span>
        </div>
        <div class="subimg-container">
          <img src="assets/icons/about/brand_diamond.svg" alt="" class="subimg">
        </div>
      </div>
    </div>
    <h3 class="subtitle">Планы развития</h3>
    <p class="text">
      В наших планах открытие магазинов SAKINA в каждом крупном городе России! Мы хотим, чтобы каждый город присоединился к нам – движению и каждая семья стала немного счастливее!
      <br>
      SAKINA – настроение твоего дня!
    </p>
  </div>
</section>
