<section>
  <div class="container">
    Если товар не соответствует Вашим ожиданиям, Вы можете вернуть его в течение 14 дней от даты получения. Приобретённые Вами товары должны сохранить первоначальный вид, все оригинальные этикетки и бирки.
    <br><br>
    Для совершения возврата заполните форму. Инструкция по возврату товара будет направлена вам по электронной почте, указанной в заявке. Мы совершим возврат денежных средств* по указанным Вами банковским реквизитам в течение 10 дней после получения Вашего возврата.
    <br><br>
    *обратите внимание, что возврат товара надлежащего качества осуществляется за счет покупателя.
    <br><br>
    Совершить возврат товаров, купленных в интернет-магазине, можно только отправив товар обратно на склад интернет-магазина. Розничные магазины не принимают возвраты товаров, купленных в интернет-магазине.
    <br><br>
    Если вы не знаете данные заказа, который хотите вернуть, или у вас есть другие вопросы по возврату товара, вы можете позвонить по телефону горячей линии: 89009999090, пн-пт 9:00-18:00 (Московское время), либо воспользуйтесь формой обратной связи на сайте. Подробная информация о порядке и условиях возврата приобретенного у нас товара размещена в разделе Сайта «Публичная оферта».
  </div>
</section>
