<section class="main">
  <div class="container">
    <h2 class="subtitle" style="margin-bottom: 10px; font-size: 25px;">Политика конфиденциальности интернет-магазина </h2>
    <span class="subtitle">Введение</span>
    <p class="text">
      Мы, в интернет-магазине Сакина, уделяем большое внимание защите вашей личной информации. Настоящая Политика конфиденциальности описывает, какие данные мы собираем, как мы их используем, и какие меры принимаем для их защиты.
    </p>
    <span class="subtitle">Сбор информации</span>
    <p class="text">
      Мы собираем различные виды информации для предоставления и улучшения наших услуг, в том числе персональные данные (имя, фамилия, адрес электронной почты, почтовый адрес, номер телефона и другие контактные данные), информацию о заказах (информация о товарах, которые вы покупаете, история заказов, способы оплаты), а также технические данные (IP-адрес, тип устройства, браузер, операционная система, данные о посещении нашего сайта).
    </p>
    <span class="subtitle">Использование информации</span>
    <p class="text">
      Мы используем собранную информацию для обработки и выполнения ваших заказов, обеспечения работы нашего сайта и улучшения качества наших услуг, связи с вами по поводу ваших заказов и предоставления информации о новых продуктах, акциях и специальных предложениях, а также анализа и исследования для улучшения нашего магазина и пользовательского опыта.
    </p>
    <span class="subtitle">Обмен информацией</span>
    <p class="text">
      Мы не продаем и не передаем ваши персональные данные третьим лицам, за исключением случаев, когда это необходимо для работы нашего магазина. Поставщики услуг (например, логистика, обработка платежей) получают доступ только к той информации, которая необходима для выполнения их функций. Мы также можем раскрывать информацию по требованию правоохранительных органов или для защиты наших прав, имущества или безопасности нас, наших пользователей или третьих лиц.
    </p>
    <span class="subtitle">Защита данных</span>
    <p class="text">
      Мы принимаем необходимые организационные и технические меры для защиты ваших данных от несанкционированного доступа, изменения, раскрытия или уничтожения. Эти меры включают использование защищенных серверов, шифрование данных и контроль доступа.
    </p>
  </div>
</section>
