<div class="main">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Заказчик</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Сумма корзины</th>
        <th scope="col">Товары</th>
        <th scope="col">
            Действия
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;">
        <td>{{ order.user?.name }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.sumOfCart }}</td>
        <td><span *ngFor="let product of order.products">{{product.name}} <br></span></td>
        <td class="overflow-hidden">
          <div ngbDropdown container="body" >
            <button type="button" class="btn btn-outline-primary btn-sm btn2" ngbDropdownToggle>Действия</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="open(editcontent, order)">Редактировать</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #editcontent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Редактирование</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-order-edit-form (getOrders)="getOrders()" [selectedOrder]="selectedOrder" (closeModal)="modal.close('Save click')"></app-order-edit-form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Закрыть</button>
    </div>
  </ng-template>
  