

.register {
  width: 100%;
  height: 100vh;
  background-color: #d3cdb6;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
